libs/

# C++
*.o
*.obj
*.gch
*.pch

# CMake
build/
CMakeLists.txt.user*
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake

# Linux
*~
.directory
.Trash-*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
